@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2e0066 16.62%, #040222 85.61%);}

    .cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        padding: 24px;
    }

    .cabecalho-menu{
        display:flex; 
        gap: 50px;
    
    }

    .cabecalho-menu-item
